boto3==1.20.47
botocore==1.23.47
click==8.0.3
Flask==2.0.2
gunicorn==20.1.0
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.28
protobuf==3.19.4
python-dateutil==2.8.2
s3transfer==0.5.1
six==1.16.0
typing-extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.2
zipp==3.7.0
